*.xml
!bigipreportconfig.xml
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/*.tmp
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/index.html
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/*.tmp
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/asmpolicies.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/certificates.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/datagrouplists.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/devicegroups.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/irules.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/loadbalancers.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/loggederrors.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/monitors.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/pools.json
Move\ the\ content\ of\ this\ folder\ to\ the\ configured\ report\ root/json/virtualservers.json
output
.vscode
