*.log
*.txt
*.xml
!bigipreportconfig.xml
underlay/*.tmp
underlay/index.html
underlay/json/*.tmp
underlay/json/asmpolicies.json
underlay/json/certificates.json
underlay/json/datagroups.json
underlay/json/devicegroups.json
underlay/json/irules.json
underlay/json/loadbalancers.json
underlay/json/loggederrors.json
underlay/json/monitors.json
underlay/json/nat.json
underlay/json/pools.json
underlay/json/preferences.json
underlay/json/virtualservers.json
underlay/web.config
.vscode
.idea
dev-web
node_modules
