*.log
*.txt
*.xml
!bigipreportconfig.xml
.idea
.vscode
dev-web
node_modules
underlay/*.tmp
underlay/json/*.tmp
underlay/json/asmpolicies.json
underlay/json/certificates.json
underlay/json/datagroups.json
underlay/json/devicegroups.json
underlay/json/irules.json
underlay/json/loadbalancers.json
underlay/json/loggederrors.json
underlay/json/monitors.json
underlay/json/nat.json
underlay/json/pools.json
underlay/json/preferences.json
underlay/json/virtualservers.json
underlay/json/*.json.br
underlay/web.config
